.register-Logo {
    background-image: url('../assets/logo/logo_simples.png');
    width: auto;
    height: 60px;
}

.card-logo {
    margin: 30px;
}

.register-card-title-h2 {
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    margin-Bottom: 0;
}


.register-form-label-h4 {
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.register-Button-Outlined {
    color: #fff;
    border: 2px solid var(--red);
    transition: all 0.3s ease-out;
    background-color: transparent;
}

.register-Button-Outlined:hover {
    color: #fff;
    background-color: var(--red);
    box-shadow: 0px 0px 13px var(--red);
    border: 2px solid var(--red);
  }